@media only screen and (max-width: 1399px) {
    .navbar form {
        max-width: 450px;
    }

    .prod-box figure {
        height: 190px;
    }
}

@media only screen and (max-width: 1199px) and (min-width: 992px) {
    .navbar form {
        max-width: 320px;
    }

    .h-banner .banner-info::before {
        width: 65%;
    }

    .h-products .prod-box article h4 {
        font-size: 16px;
    }

    .h-products .prod-box article p {
        font-size: 14px;
    }

    .h-products .prod-box .prod-price p {
        font-size: 16px;
    }

    .h-products .prod-box {
        padding: 14px;
    }



    .sub-heading {
        font-size: 26px;
        margin-bottom: 0;
    }

    .btn-green {
        font-size: 14px
    }

    .h-commitment p {
        font-size: 14px;
    }

    .h-commitment ul li::before {
        width: 30px;
        height: 30px;
        left: -43px;
        top: -2px;

    }

    .h-blogs .blog-box figure {
        height: 250px;
        margin-bottom: 20px;
    }

    footer {
        font-size: 14px;
    }

    footer ul.bold {
        padding-left: 0;
    }

    footer .btn-wrapper .btn-green {
        padding: 10px 26px;
    }
}

@media only screen and (max-width: 1199px) {
    .h-categories .cate-box {
        figure {
            width: 80px;
            height: 80px;
            margin-bottom: 10px;
        }

        h4 {
            font-size: 15px;
        }
    }

    .h-offer figure {
        height: 230px;
    }

    .product-page .product-details .product-slider-for figure {
        height: 380px;
    }

    .product-page .product-details .product-slider-nav figure {
        height: 80px;
    }

    .h-products .prod-box figure,
    .product-page .product-related .prod-box figure {
        height: 150px;
    }

    .blog-box figure {
        height: 250px;
    }

    .contact-page .contact-info {
        padding: 40px 20px;
    }

    .contact-page .contact-map {
        height: 400px;
    }

    .contact-page .sub-heading {
        font-size: 26px;
        margin-bottom: 10px;
    }

    .cate-page .cate-result-wrapper .cate-result.result-list>.row>[class*="col-"] {
        flex: 0 0 auto;
        width: 100%;
    }

}

@media only screen and (max-width: 991px) {
    body.height-fixed {
        overflow: hidden;
        position: relative;

        .height-fixed-overlay {
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            background: rgba(0, 0, 0, 0.6);
            z-index: 10;
            content: '';
        }
    }

    .navbar-toggler {
        filter: brightness(11);
        border: 0;

        &:focus {
            outline: 0;
            box-shadow: none;
        }
    }

    .navbar {
        padding: 0;

        .navbar-brand {
            height: 80px;
            padding: 0;
        }
    }

    .navbar-collapse {
        position: absolute;
        top: 0;
        right: -300px;
        background: #4d8223;
        z-index: 20;
        height: 100vh;
        width: 100%;
        max-width: 300px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding-bottom: 30px;
        overflow-y: scroll;
        transition: right 0.3s ease-in-out;

        &.show {
            right: 0;

        }

        >* {
            flex: 0 0 auto;
            width: 100%;
        }

        form {
            order: 1;
            padding: 0 20px;

            .form-control {
                margin: 0 !important;
            }

            .btn {
                margin-right: 20px;
            }
        }

        .h-bar {
            background: none;
            padding: 20px;
            border-bottom: 1px solid rgba(255, 255, 255, 0.2);
            border-top: 1px solid rgba(255, 255, 255, 0.2);
            margin: 20px 0;

            ul {
                li {
                    margin: 0 20px 0 0;
                }

                li:first-child {
                    flex: 0 0 auto;
                    width: 100%;
                    margin-bottom: 16px;
                    margin-right: 0;
                    font-size: 16px;
                }
            }
        }
    }

    .logo-sm {
        display: flex;
        justify-content: space-between;
        padding: 20px 20px 10px;
        border-bottom: 1px solid rgba(255, 255, 255, 0.2);
        align-items: center;

        .logo-name {
            margin-bottom: 0;
            font-size: 20px;
        }

        .close {
            font-size: 20px;
            background: linear-gradient(180deg, #115931 0%, #32985F 100%);
            width: 36px;
            height: 36px;
            text-align: center;
            line-height: 36px;
            border-radius: 50%;
        }
    }

    .navbar .navbar-nav {
        padding: 0 20px;

        .nav-item {
            margin-left: 0;
        }
    }

    .navbar .navbar-nav .nav-item .nav-link.btn-green {
        margin-top: 10px;
    }

    .h-banner .banner-info::before {
        width: 80%;

    }

    .h-wellness .wellness-box {
        align-items: center;
        flex-direction: column;
        text-align: left;
        gap: 0px;
        align-items: flex-start;
    }

    .h-offer article p {
        font-size: 16px;
    }

    .h-products .h-prod-selling,
    .h-products .h-prod-herbal,
    .h-products .h-prod-pillows,
    .h-products .h-prod-handicrafts {
        margin-bottom: 40px;
    }

    .h-commitment p {
        font-size: 14px;
    }

    .h-commitment ul {
        margin: 0;
        /* padding-top: 0; */

        li {
            margin: 0;

            &:not(:last-child) {
                margin-bottom: 10px;
            }
        }
    }

    .h-commitment ul li::before {
        width: 30px;
        height: 30px;
        left: -38px;
        top: -1px;
    }

    .h-clients .slick-arrow.slick-prev {
        left: -30px;
        z-index: 1;
    }

    .h-clients .slick-arrow.slick-next {
        right: -30px;
        z-index: 1;
    }

    .h-clients .client-box article p {
        font-size: 14px;
    }

    .h-blogs .blog-box figure {
        height: 200px;
        margin-bottom: 10px;
        border-top-right-radius: 40px;
    }

    .h-blogs .blog-box article ul {
        font-size: 14px;
    }

    footer .footer-logo {
        width: 70px;
        height: 70px;
    }

    footer ul.bold {
        padding: 0;
    }

    footer {
        font-size: 14px;

        .row {
            >.col-md {
                flex: 0 0 auto;
                width: auto;
            }
        }

        .footer-social {
            ul {
                font-size: 22px;
            }
        }

        .btn-wrapper .btn-green {
            padding: 10px 10px;
            font-size: 14px;
        }
    }

    .h-offer figure {
        height: 200px;
    }

    .cate-page .cate-result .prod-box figure {
        /* height: 130px; */
    }

    .product-page .product-review .review-wrapper {
        margin-bottom: 30px;
    }

    .about-page .about-wrapper .about-png {
        display: none;
    }

    .about-page .about-wrapper::after,
    .about-page .about-wrapper::before {
        display: none;
    }

    .about-page .about-product .row>[class*="col-"] {
        display: flex;
        justify-content: space-between;
        gap: 20px;
    }

    .about-page .about-product .product-box {
        width: 50%;

        &:not(:last-child) {
            margin-bottom: 0;
        }
    }

    .about-page .about-product .product-figure {
        width: 100%;
        padding: 20px 0;

        figure {
            height: 200px;
        }
    }

    .blog-page .most-blog-wrapper .col-lg-4.col-md-12 {
        display: flex;
        gap: 25px;
    }

    .blog-details-page .blog-details {
        margin-bottom: 30px;
    }

    .cate-page .cate-sidebar {
        position: relative;
        /* margin-bottom: 20px; */

        .sub-heading {
            position: relative;
            padding-left: 20px;
            text-align: left;

            &::before {
                position: absolute;
                content: '\f078';
                font-family: var(--fontawesome);
                top: 0;
                bottom: 0;
                right: 20px;
                display: flex;
                align-self: center;
                transform: rotateZ(-90deg);
                transition: 0.3s all ease-in-out;
            }

            &.show {
                &::before {
                    transform: none;
                }
            }
        }

        .cate-warpper {
            position: absolute;
            top: 100%;
            z-index: 2;
            background: #ffffff;
            box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.4);
            width: 100%;
            visibility: hidden;
            opacity: 0;
            pointer-events: none;
            transition: 0.3s all ease;

            &.show {
                visibility: visible;
                opacity: 1;
                pointer-events: unset;
            }
        }
    }
}


@media only screen and (max-width: 767px) {
    .h-banner .banner-info article p {
        font-size: 16px;
    }

    .h-banner .figure-wrapper figure {
        height: 400px;
    }

    .h-banner .banner-info article h1 {
        font-size: 40px;
    }

    .h-banner .banner-info article {
        max-width: 275px;
    }

    .h-wellness .wellness-box {
        align-items: center;
        padding: 20px;
        text-align: center;
    }

    .h-offer article {
        margin-top: 30px;
        text-align: center;

        p {
            margin: 0 auto 25px;
        }
    }

    .sub-heading {
        font-size: 26px;
    }

    .h-products .prod-box figure {
        height: 260px;
    }

    .h-products .heading-wrapper .btn-green {
        font-size: 12px;
        padding: 11px 10px;
    }

    .h-products .heading-wrapper .sub-heading {
        font-size: 24px;
        margin-bottom: 0;
    }



    .h-clients .client-box {
        flex-direction: column;
        padding: 0 10px;
    }

    .h-clients .client-box figure {
        height: 120px;
        /* min-height: 373px; */
        width: 100%;
    }

    .h-clients .client-box article {
        padding: 20px;
    }

    .h-blogs {

        .blog-box {
            padding-bottom: 20px;
            margin-bottom: 20px;
            border-bottom: 1px solid #ddd;

            article {
                h4 {
                    font-size: 19px;
                }

                p {
                    line-height: 1.9;
                    margin-bottom: 10px;
                }

                ul {
                    font-size: 16px;
                }
            }
        }

        .col-md-4:last-child .blog-box {
            padding-bottom: 0;
            margin-bottom: 0;
            border-bottom: 0;
        }
    }

    footer {
        .footer-logo {
            margin-bottom: 10px;
        }

        .row>.col-md {
            flex: 0 0 auto;
            width: 100%;
            padding-bottom: 20px;
            border-bottom: 1px solid rgba(255, 255, 255, 0.16);
            margin-bottom: 20px;

            &:last-child {
                padding-bottom: 0;
                border-bottom: 0;
                margin-bottom: 0;
            }
        }
    }

    .h-clients .slick-arrow.slick-prev {
        left: -14px;
    }

    .h-clients .slick-arrow.slick-next {
        right: -14px;
    }

    .heading {
        font-size: 30px;
    }

    .h-categories .cate-box {
        margin: 0 10px;

        figure {
            height: 60px;
            width: 60px;

        }

        h4 {
            font-size: 14px;
        }
    }

    .blog-page .most-blog-wrapper .col-lg-4.col-md-12 {
        display: block;
    }

    .blog-page .all-blog-wrapper .heading-wrapper {
        display: block;
    }

    .cate-page .cate-result-wrapper .cate-view-fliter {

        background: none;
        padding: 10px 0 0 0;
        gap: 10px;
        flex-direction: column;
        align-items: baseline;

    }
}

@media only screen and (max-width: 575px) {
    .h-banner .banner-info::before {
        background: url(./../images/svg/banner-bg.svg) no-repeat 100% 0%;
        background-size: 360%;
    }

    .container {
        padding: 0 20px;
    }

    .h-wellness .heading {
        margin-bottom: 30px;
    }

    .about-page .about-company .heading-marker {
        text-align: left;
    }

    .about-page .about-product .row>[class*="col-"] {
        display: block;
    }

    .about-page .about-product .product-box {
        width: 100%;

        &:not(:last-child) {
            margin-bottom: 30px;
        }
    }

    .about-page .about-vision .vision-box {
        figure {
            height: 300px;
        }

        article {
            padding: 30px;
            font-size: 14px;
        }
    }

    .about-page .about-vision .vision-box.bg-green,
    .about-page .about-vision .vision-box.bg-yellow {
        figure {
            height: 500px;
        }
    }

    .about-page .about-vision .about-vision-absolute .sub-heading {
        font-size: 24px;
    }

    .newsletter form {
        flex-direction: column;
    }

    .contact-page .contact-form,
    .contact-page .contact-info {

        padding: 20px;
    }

    .blog-page .all-blog-wrapper .pagination-wrapper {
        padding: 10px 0;
        flex-direction: column;
        gap: 2px;
        align-items: start;
    }

    .product-page .product-details .product-info-tabs .tab-nav {
        display: block;
        /* overflow: hidden; */
    }

    .product-page .product-details .product-info-tabs .nav-tabs .nav-item {
        margin: 0 !important;
        width: 48%;
        flex: 0 0 48%;
        font-size: 12px;

        .nav-link {
            padding: 10px 0;
            font-size: 14px;
            width: 100%;
            border-radius: 10px;
            border: 1px solid rgba(162, 191, 165, 1) !important;

        }
    }

    .product-page .product-details .product-info-tabs .nav-tabs {
        background: none;
        border: 0;
        margin-bottom: 10px;
        gap: 10px;
    }

    .product-page .product-details .product-info-tabs .tab-content {
        border-radius: 10px;

        p {
            flex-direction: column;
        }
    }

    .product-page .product-review .review-box .heading-wrapper {
        flex-direction: column;
        align-items: baseline;
    }

    .blog-page .blog-box-full {
        min-height: 400px;
    }

    .blog-details-page .top-blog .blog-box figure {
        height: 120px;
    }

    .cate-page .cate-result-wrapper .cate-result.result-list .prod-box figure {
        height: 100px;
        width: 100px;
    }
}